body {
  font-family: 'Rubik', sans-serif;
  max-width: 1000px;
  margin: 0 auto;
}

/* reset */

ul {
  margin: 0;
  padding: 0;
}

/* styles */

h1 {
  font-size: 4em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

#formToDo {
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
}

.todo__header {
  border-bottom: 1px solid #ddd;
  text-transform: capitalize;
  font-weight: bold;
}

.todo__item,
.todo__header {
  display: flex;
  padding: 16px 0;
  justify-content: space-between;
  text-align: center;
  word-break: break-all;
}

.todo__item > div,
.todo__header > div {
  width: 25%;
}

.row {
  display: flex;
  justify-content: space-between;
}

.description {
  width: 40%;
}

.field label {
  display: block;
}

.field__input {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
  border: 1px solid #e2e8f0;
  margin: 1em 0;
  padding: 1em;
  outline: none;
  width: 100%;
  border-radius: 0.5rem !important;
}

.field__button {
  padding: 15px 25px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.39);
  cursor: pointer;
}

.text-right {
  text-align: right;
}

table {
  text-align: center;
  margin: 1em 0;
}

thead .sorting {
  background-image: url(../img/sort_both.png);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 1em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.39);
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #0076ff;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}