body {
  font-family: 'Rubik', sans-serif;
  max-width: 1000px;
  margin: 0 auto;
}

/* reset */

ul {
  margin: 0;
  padding: 0;
}

/* styles */

h1 {
  font-size: 2.5em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

#formToDo {
  padding-bottom: 30px;
}

.todo__header {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  text-transform: capitalize;
  font-weight: bold;
}

.todo__item,
.todo__header {
  display: flex;
  padding: 16px 0;
  justify-content: space-between;
  text-align: center;
  word-break: break-all;
  align-items: center;
}

.todo__item > div,
.todo__header > div {
  width: 25%;
}

@media (max-width: 1024px) {
  header {
    font-size: 12px;
    margin: 5% 0px;
  }
  body {
    padding: 0 3%;
  }
  .field__input {
    background-color: blue;
    width: 60%;
    padding: 0.5em 0.25em;
  }
}

.row {
  display: flex;
  justify-content: space-between;
}

.description {
  width: 40%;
}

.field label {
  display: block;
}

.field__input {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
  border: 1px solid #e2e8f0;
  margin: 1em 0;
  padding: 1em;
  outline: none;
  width: 100%;
  border-radius: 0.5rem !important;
}

.field__button {
  padding: 15px 25px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0);
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: ease-in-out;
}

.field__button:hover {
  cursor: pointer;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.39);
}

.text-right {
  text-align: right;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 1em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.39);
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #0076ff;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.options {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 2em;
}

.dots:hover {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  list-style: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fff;
  padding: 3px 0;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.5);
  z-index: 123123;
  font-size: 14px;
  min-width: 140px;
}

.dropdown-menu li:hover {
  color: #000;
}

.dots:hover ~ .dropdown-menu,
.dropdown-menu:hover {
  display: block;
}

.sorting {
  padding: 15px 10px;
  background: #fff;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.sorting:hover {
  cursor: pointer;
  background: #ddd;
}

.icon {
  height: 25px;
  width: 25px;
  cursor: pointer;
  color: rgb(57, 63, 73);
}

.editable {
  border-radius: 3px;
  padding: 5px 2px;
  border: 1px solid transparent;
}

.editable[contenteditable='true'] {
  border-color: #ddd;
}

.editable-input input {
  border-radius: 3px;
  padding: 5px;
  text-align: center;
  border: 1px solid #ddd;
}
